<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>544945978990-hptapv5uq6rccpubr8ll61c18cvqb8br.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.544945978990-hptapv5uq6rccpubr8ll61c18cvqb8br</string>
	<key>API_KEY</key>
	<string>AIzaSyACh7tF-ZTUht-zF39McnUK1_uH4vh4V3U</string>
	<key>GCM_SENDER_ID</key>
	<string>544945978990</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pdp.firebaseNoteTwo</string>
	<key>PROJECT_ID</key>
	<string>fir-todo-b17</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-todo-b17.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:544945978990:ios:cfa9c6f027485830ce307f</string>
</dict>
</plist>